<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Monthly Expense{% endblock %}</title>
    {% load static %}
    {% load tz %} 
    <link href="{% static 'dist/styles.css' %}?v={% now 'U' %}" rel="stylesheet" />
  </head>
  <body>
    <div class="body-wrapper">
      <header class="header">
        <div class="container">
          <h1 class="text-3xl font-bold tracking-tight text-center">
            {% block heading %}Monthly Expense{% endblock %}
          </h1>
        </div>
      </header>
      <main>{% block content %}{% endblock %}</main>  
    </div>
  </body>
</html>
